:root{
    --background: rgb(127, 146, 161);
    --backgroundSecond: rgb(44, 41, 41);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
body{
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: slategray;
}
.menu{
    width: 100%;
    height: 7vh;
    background-color: var(--backgroundSecond);
    display: flex;
    justify-content: left;
    align-items: center;  
}
.body{
    width: 100%;
    height: 90vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background-color: var(--background);
}
.guessing{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
input{
    margin: 1.2vh;
}
#guess{
    border-radius: 1vh;
    text-align: center;
    height: 3vh;
    width: 9vh;
    font-size: 1.2rem;
    font-family: "monocraft";        
    border: 3px solid black;
}
.foot{
    width: 100%;
    height: 3vh;
    float: left;
    background-color: var(--backgroundSecond);
    text-align: right;
}
#drawing{
    background-color: rgb(247, 225, 194);
    border-radius: 50%;
    border: 0.75vh solid black;
}
#center{
    fill: var(--background);
    stroke: var(--backgroundSecond);
}
.title{
    position: absolute;
    top: 10vh;
    font-family: "monocraft";
    color: whitesmoke;
}
h5{
    font-family: "monocraft";
    margin: 0.9vh;
    padding: 0px; 
    color: rgb(247, 225, 194);
}
table{
    font-family: "monocraft";
    color: rgb(255, 223, 179);
    font-size: 1.5rem;
    border-collapse: separate;
    border-spacing: 1.25vh 0px;
}
.images{
    width: 4.3vh;
    height: 4.3vh;
}
.button{
    border-radius: 1vh;
    width: auto;
    height: 4vh;
    font-family: "monocraft";
    font-size: 1rem;
    background-color: rgb(243, 220, 187);
    border: 3px solid black;
}
.button:hover{
    background-color: rgb(223, 189, 142);
}
#playAgain:hover{
    border-radius: 1.5vh;    
    font-size: 1.2rem;
}

.dropMenu{    
    margin-left: 2vh;
    position: relative;    
    display: inline-block;
}
.colorPickers{
    display: none;
    position: absolute;    
    font-family: "monocraft";

    z-index: 1;
    min-width: 22vh;
    background-color: rgb(241, 209, 171);
    border: 4px solid rgb(151, 132, 108);
    border-radius: 1vh;
    padding: 0.5vh;
}
.dropMenu:hover .colorPickers{
    display: block;
}