:root{
    --background: rgb(44, 41, 41);
    --backgroundSecond: rgb(104, 113, 121);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
body{
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: aqua;
}
.menu{
    width: 100%;
    height: 10vh;
    background-color: var(--backgroundSecond);
}
.body{
    width: 100%;
    height: 87vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background-color: var(--background);
}
.guessing{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
#guess{
    border-radius: 1vh;
    text-align: center;
    vertical-align: middle;
    height: 3vh;
    width: 9vh;
    font-size: 1.5rem;
    font-family: "monocraft";
}
.foot{
    width: 100%;
    height: 3vh;
    float: left;
    background-color: var(--backgroundSecond);
    text-align: right;
}
#drawing{
    background-color: blanchedalmond;
    border-radius: 25px;
}
#center{
    fill: var(--background);
    stroke: var(--backgroundSecond);
}
.title{
    position: absolute;
    top: 10vh;
    font-family: "monocraft";
    color: whitesmoke;
}
h5{
    font-family: "monocraft";
    margin: 6px;
    padding: 0px; 

}