:root{
    --background:#7f92a1;
    --backgroundSecond:#3f3f3f;
    --itemBackground:#eed3ad;;
}


@font-face {
    font-family: 'monocraft';
    src: url('fonts/monocraft-webfont.woff2') format('woff2'),
         url('fonts/monocraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}


body{
    min-height: 100svh;
    padding: 0px;
    margin: 0px;
    background-color: slategray;
}
.menu{
    width: 100%;
    height: 4.5rem;
    background-color: var(--backgroundSecond);
    display: flex;
    justify-content: left;
    align-items: center;  
    flex-direction: row;
}
.main{
    width: 100%;
    height: 90svh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background-color: var(--background);
}
.guessing{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
input{
    margin: 1.2svh;
}
#guess{
    border-radius: 1svh;
    text-align: center;
    height: 3svh;
    width: 9svh;
    font-size: 1.2rem;
    font-family: "monocraft";        
    border: 3px solid black;
    background-color: var(--itemBackground);    
    outline: none;
}
.foot{
    width: 100%;
    height: 3svh;
    float: left;
    background-color: var(--backgroundSecond);
    display: flex;
    justify-content: right;
    align-items:center;  
    position: fixed;
    bottom: 0;
}
#drawing{
    background-color: var(--itemBackground);
    border-radius: 50%;
    border: 0.75svh solid black;
    margin: 2.5svh;
}
#center{
    fill: var(--background);
    stroke: var(--backgroundSecond);
}
.title{
    margin-top: 0svh;
    font-family: "monocraft";
    color: var(--backgroundSecond);
}
h5{
    font-family: "monocraft";
    margin-right: 1svh;
    padding: 0px; 
    color: var(--itemBackground);
}
#results{
    font-family: "monocraft";
    color: var(--itemBackground);
    font-size: 1.5rem;
    border-collapse: separate;
    border-spacing: 1.25svh 0px;
}
.images{
    width: 4.3svh;
    height: 4.3svh;
}
.button{
    border-radius: 1svh;
    width: auto;
    height: 4svh;
    font-family: "monocraft";
    font-size: 1rem;
    background-color: var(--itemBackground);
    border: 3px solid black;
}
.button:hover{
    filter: brightness(80%);    
    border-radius: 2svh;   
}
.colorPickers{    
    position: relative;    
    display: inline-block;
}
.colorPickers:hover .dropMenu{
    display: flex;
    flex-wrap: wrap;
}
.records{
    border-collapse: separate;
    border-spacing: 5svh 0.5svh;
}
.records > tbody > tr > th{
    font-family: "monocraft";
    font-size: 0.8rem;
}
.records > tbody > tr > td{
    font-family: "monocraft";
    font-size: 1rem;
    text-align: center;
    color: grey;
}
#bg{
    background-color: var(--background);
}
#elements{    
    background-color: var(--itemBackground);
}
.dropMenu > table > tbody > tr > td > label{
    margin-left: 1svh;
}

.dropMenu > table > tbody > tr > td > input{
    border: 2px solid black;
    border-radius: 1.3svh;
}
.menu div:last-child{
    margin-left: auto;
    margin-right: 2svh;
}
.menu div:first-child{
    margin-right: auto;
    margin-left: 2svh;
}

#help{/*just table */
    display: none;

}

.table{
    display: none;
    position: absolute;    
    font-family: "monocraft";
    justify-content: center;
    border-radius: 3svh;
    align-items:center;      
    z-index: 1;
    min-width: 20svh;
    background-color: var(--backgroundSecond);
    border: 4px solid rgb(0, 0, 0);
    padding: 0svh;    
    border-collapse: separate;
    border-spacing: 5svh 0.5svh;
}

#help{
    right: 0;    
    min-width: 18svh;    
    border-top-right-radius: 0%;
}

.dropMenu{    
    border-top-left-radius: 0%;
}

.help:hover #help{
    display: flex;
    flex-wrap: wrap;
}

.divider{     
    width: 100%;
    height: auto;
    background-color: var(--backgroundSecond);
    text-align: center;
    font-size: 5.5svh;
    letter-spacing: 1svh;
    font-family: "monocraft";
    color: var(--background);
    float: left;
    padding: 1rem 0;
}

.sub{
    width: 100%;
    height: 20svh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: var(--background);
}